.Rproj.user
.Rhistory
.RData
.Ruserdata
ACE_multi_covariate_gis
LUR_input.csv
buffer_multiply.xlsx
demog_apportioned.csv
demog_apportioned_transformed.csv
demog_data
local_lur.Rproj
mix
my adding template-LUR new independent sites.xlsx
qing_LUR_ID.csv
qing_final_box_200_to_plot.csv
qing_final_box_200_to_plot_before_changing_extremes.csv
qing_lur.xlsx
qing_outliers.txt
raw_data
